* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            color: #333;
        }

        header {
            background: #1e3a5f;
            color: white;
            padding: 20px 0;
        }

        .container {
            width: 90%;
            max-width: 700px;
            margin: auto;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;/* to position ul absolutely inside nav */
        }

        nav ul {
            list-style: none;
            display: flex;
            gap: 65px;
            position: absolute; /* center the ul inside nav */
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        nav a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
        .logo {       
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 2px;
            color: #ffffff;
            text-transform: capitalize;
            margin: 0;
          }

          .logo span {
            color: #f4b41a;
            margin: 0 5px;
            font-weight: 900;
        }

        section {
            padding: 60px 0;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        input, textarea {
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        textarea {
            resize: none;
            height: 120px;
        }

        button {
            padding: 12px;
            background: #1e3a5f;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
            border-radius: 4px;
        }

        button:hover {
            background: #162c47;
        }

        .info {
            text-align: center;
            margin-top: 30px;
        }

        footer {
            background: #1e3a5f;
            color: white;
            text-align: center;
            padding: 20px 0;
            margin-top: 40px;
        }