*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            color: #333;
        }

        /* Header */
        header {
            background: #1e3a5f;
            color: white;
            padding: 20px 0;
            position: relative; /* added so .logo can be positioned at the header edge */
        }

        .container {
            width: 90%;
            max-width: 1100px;
            margin: auto;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;/* to position ul absolutely inside nav */
        }

        nav ul {
            list-style: none;
            display: flex;
            gap: 65px;
            position: absolute; /* center the ul inside nav */
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        nav a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
        .logo {       
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 2px;
            color: #ffffff;
            text-transform: capitalize;
            margin: 0;
          }

          .logo span {
            color: #f4b41a;
            margin: 0 5px;
            font-weight: 900;
          }

          /* Rooms Section */
        section {
            padding: 60px 0;
        }

        h1 {
            text-align: center;
            margin-bottom: 40px;
        }

        .rooms {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
        }

        .room {
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
        }

        .room img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .room-content {
            padding: 15px;
        }

        .price {
            font-weight: bold;
            margin: 10px 0;
        }
        
        /* Footer */
        footer {
            background: #1e3a5f;
            color: white;
            text-align: center;
            padding: 20px 0;
        }